.game-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.users-field{
  width: 30%;
  height: 100%;
  padding: 1rem;
}

.game-field{
  width: 70%;
  height: 100%;  
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.game-area{
  position: relative;
  width: 70%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_game-button{
  height: 20%;
  width: 35%;
  background-color: burlywood;
  border: 1px solid black;
}

.wait_for_start-button{
  height: 20%;
  width: 35%;
  background-color: lightgray;  
  text-align: center;    
}

.wait_for_start-button span {
  display: inline-block;
  margin-top: 2rem;
}

.user-header{
  display: flex;  
  align-items: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.circle{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: red;
  margin-right: .5rem;  
}

.ready{
  background-color: green;
}

.progress_bar{
  border: 1px solid black;
  width: 80%;
  height: 2.5rem;
}

.progress_bar-inner{
  height: 100%;
  background-color: green;
}

.disconnect{
  background-color:gray;
  width: 7rem;
  height: 3rem;
  margin-top: .5rem;
  margin-left: 1rem;
  color: white;
}

.heading{
  margin-top: .5rem;
  margin-left: 1rem;
}

.colored{
  background-color: green;
}

.underscored{
  border-bottom: 1px solid green;
}

.game-timer{
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}